@model IEnumerable<WebApplication5.Models.Team>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sport.Soccer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Girls)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Old)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sport.Soccer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Girls)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kids)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Old)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Boys }) |
            @Html.ActionLink("Details", "Details", new { id=item.Boys }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Boys })
        </td>
    </tr>
}

</table>
